{% extends "base.html" %}
{% load static user_extras humanize markdown_extras comment_extra %}
{% block head %}
        <link rel="stylesheet" href="{% static "css/event.css" %}"/>
        <link rel="stylesheet" href="{% static "css/comments.css" %}"/>
{% endblock %}
{% block title %}
    {{ event.title }} - {{ request.settings.headerName }}
{% endblock %}
{% block content %}
    <div class="presentation {% if not event.background %}defaultBackground{% endif %}">
        <h1>{{ event.title }}</h1>
        <div class="date" id="dateField" data-timestamp="{{ event.date.timestamp }}">{{ event.date|naturaltime }}</div>
        <div class="absoluteDate" data-timestamp="{{ event.date.timestamp }}">Le {{ event.date.date }} à {{ event.date.time }}</div>
        <div class="shortDescription">{{ event.shortDescription }}</div>
        {% if event.background %}
        <img class="background" src="{{ event.background.url }}" />
        {% else %}
        <img class="background" src="{% static "img/defaultBackground.jpg" %}" />
        {% endif %}
    </div>
    <article class="description">
        {% autoescape off %}
            {{ event.description|markdown }}
        {%  endautoescape %}
    </article>
    <article class="comments" id="comments">
        {% if event.commentNumber < 1 %}
            <div class="centeredError">
                Aucun commentaire
            </div>
        {% else %}
            <h2>Commentaires</h2>
        {% endif %}
        {% for comment in event.comments %}
            <div class="comment">
                <div class="date relativeDate" data-timestamp="{{ comment.date.timestamp }}">{{ comment.date|naturaltime }}</div>
                <div class="name">{{ comment|comment_user }}</div>
                <div class="content">{{ comment.content }}</div>
            </div>
        {% endfor %}
        {% if form %}
            <div class="comment">
                <form method="post" action="{% url "events.views.showEvent" event.slug %}">
                <button type="submit">
                        <i class="material-icons">check</i>
                    </button>
                {% csrf_token %}
                    <div class="name">Ajouter un commentaire</div>
                    {% if form.authorName %}
                        <input type="text" placeholder="{{ form.authorName.label }}" name="{{ form.authorName.html_name }}" />
                    {% endif %}
                    <textarea class="addcontent content" name="{{ form.content.html_name }}" placeholder="{{ form.content.label }}">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
                </form>
            </div>
        {% endif %}
    </article>
{% endblock %}
{% block script %}
    <script src="{% static "js/event.js" %}"></script>
{% endblock %}