{% load static %}
{% load user_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>Edition de {{ article.title }} - {{ request.settings.siteName }}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static "css/fonts.css" %}"/>
    <link rel="stylesheet" href="{% static "css/icons.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/global.css" %}"/>
    <link rel="stylesheet" href="{% static "css/editArticle.css" %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
    <form action="{% url "wiki.views.editArticle" slug %}" method="post">
        {% csrf_token %}
        <h2 class="editedArticle">{{ article.title }}</h2>
        <div class="contentWrapper">
            <textarea class="content" name="{{ form.content.html_name }}" placeholder="Contenu">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
        </div>
        <nav class="verticalButtons">
            <div class="nightMode" id="toggleNightMode" title="Mode nuit">
                <i class="material-icons">remove_red_eye</i>
            </div>
            <div class="photo" id="toggleMediaWindow" title="Parcourir les images">
                <i class="material-icons">camera_alt</i>
            </div>
            <button class="submit" type="submit" title="Valider les modifications">
                <i class="material-icons">done</i>
            </button>
        </nav>
    </form>
    <div class="medias">
            {% for media in medias %}
                <div class="media" data-name="{{ media.name }}">
                    <div class="image">
                        <img src="{{ media.file.url }}">
                    </div>
                    <div class="info">
                        <span class="name">{{ media.name }}</span>
                        <span class="author">{{ media.author|big_user_name }}</span>
                        <span class="date">{{  media.uploadDate|date:"D d M Y" }}</span>
                    </div>
                </div>
            {% endfor %}
        <div class="media add" id="addImage">
            <div class="image">
                <i class="material-icons">add</i>
            </div>
            <div class="info">
                <span class="addText">Envoyer une image</span>
            </div>
        </div>
    </div>
    <div class="addForm">
        <form action="/wiki/mediaupload/" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
            <h2>Envoyer une image</h2>
        <div class="error" id="errorForm"></div>
                <div class="formField">
                    <input type="text" placeholder="{{ mediaForm.name.label }}" name="{{ mediaForm.name.html_name }}" {% if mediaForm.name.value %}
                        value="{{ mediaForm.name.value }}"
                    {% endif %}/>
                </div>
                <div class="formField">
                    {{ mediaForm.file }}
                </div>
            <nav class="actionButtons">
                <button type="submit" id="startUpload">Valider</button>
                <button type="reset" id="cancelUpload">Annuler</button>
            </nav>
        </form>
    </div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/editArticle.js" %}"></script>
</body>
</html>