.contentWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    padding: 1vh 1vw;
    height: 98vh;
    z-index: 1;
    overflow: hidden;
}

.contentWrapper textarea{
    border: none;
    outline: none;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: transparent;
    font-family: "Courier New", "Open Sans", sans-serif;
    font-size: 18px;
}

.contentWrapper.create textarea{
    min-height: 90%;
    max-height: 90%;
}

.contentWrapper.create input{
    border: none;
    background: none;
    width: 100%;
    height: 10%;
    font-size: 25px;
    color: #f44336;
    font-family: "Courier New", "Open Sans", sans-serif;
}

.night textarea{
    color: #e0e0e0;
}

.night{
    background: #3c3c3c;
}

nav.verticalButtons{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 8vh;
    z-index: 20;
}

nav.verticalButtons > *{
    width: 100%;
    height: 8vh;
    font-size: 6vh;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2196f3;
    text-align: center;
}


.editedArticle{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #2196f3;
    opacity: 0.1;
}

.blurred{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.medias{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

.addForm{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 30;
}

.addForm.show{
    display: block;
}

.addForm form{
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.addForm form h2{
    color: rgba(255,255,255,0.8);
    font-size: 50px;
    font-weight: lighter;
}

.addForm form .formField{
    width: 25vw;
}

.addForm form .formField input{
    width: 100%;
    background-color: transparent;
    border: solid 2px rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.addForm .error{
    width: 25vw;
    color: #f44336;
}

.addForm form button{
    background-color: transparent;
    border: solid 2px rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.addForm form button[type="submit"]{
    background-color: rgba(255,255,255,0.8);
    border: solid 2px transparent;
    color: rgba(0,0,0,0.8);
    margin-right: 6.25vw;
}

.medias.show{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.medias .media{
    width: 150px;
    height:150px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    border: transparent solid 5px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    cursor: pointer;
}

.medias .media .image img{
    width: auto;
    height: 150px;
}

.medias .media.reverseDimentions .image img{
    width: 150px;
    height: auto;
}

.medias .media .info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 11;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.medias .media .info > *{
    max-width: 100%;
    color: rgba(0,0,0,0.5);
}

.medias .media .info .name{
    font-weight: bold;
}

.medias .media:hover .info{
    opacity: 1;
}

.medias .media:hover .image img{
    filter: blur(5px);
}

.medias .media.add{
    border-color: rgba(255,255,255,0.5);
    background-color: transparent;
}

.medias .media.add .image{
    line-height: 150px;
    color: rgba(255,255,255,0.5);
    font-size: 150px;
}

.medias .media.add:hover .image i{
    filter: blur(5px);
}