{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
{% load user_extras %}
{% load comment_extra %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" href="{% static "css/markdown.css" %}" />
<link rel="stylesheet" href="{% static "css/blog.css" %}"/>
<link rel="stylesheet" href="{% static "css/comments.css" %}"/>
{% endblock %}
{% block content %}
<section class="blog extended">

    <article>
        <h2>{{ article.title }}</h2>
        <div class="meta">{{ article.author|big_user_name }} <span title="{{ article.date|date:"D d F Y H:i"}}">{{ article.date|naturaltime }}</span></div>
        <div class="mdFormated articleContent">
            {% autoescape off %}
                {{ article.content|markdown }}
            {% endautoescape %}
        </div>
    </article>

    <article class="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="date relativeDate" data-timestamp="{{ comment.date.timestamp }}">{{ comment.date|naturaltime }}</div>
                <div class="name">{{ comment|comment_user }}</div>
                <div class="content">{{ comment.content }}</div>
            </div>
        {% endfor %}
        {% if form %}
            <div class="comment">
                <form method="post" action="{% url "blog.views.showArticle" article.slug  %}">
                <button type="submit">
                        <i class="material-icons">check</i>
                    </button>
                {% csrf_token %}
                    <div class="name">Ajouter un commentaire</div>
                    {% if form.authorName %}
                        <input type="text" placeholder="{{ form.authorName.label }}" name="{{ form.authorName.html_name }}" />
                    {% endif %}
                    <textarea class="addcontent content" name="{{ form.content.html_name }}" placeholder="{{ form.content.label }}">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
                </form>
            </div>
        {% endif %}
    </article>

</section>
{% endblock %}
{% block script %}
    <script src="{% static "js/markdown.js" %}"></script>
{% endblock %}