{% extends "base.html" %}
{% load static humanize %}
{% load user_extras %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/home.css" %}"/>
    <link rel="stylesheet" href="{% static "css/blog.css" %}"/>
    <link rel="stylesheet" href="{% static "css/markdown.css" %}"/>
{% endblock %}
{% block content %}
    {% if nextEvent %}
<div class="nextEvent{% if not nextEvent.background %} black{% endif %}">
    <div class="nextTitle centeredEvent">Evènement à venir</div>
    <h1 class="centeredEvent">{{ nextEvent.title }}</h1>
    <h2 class="centeredEvent">{{ nextEvent.date|naturaltime }}</h2>
    <h3 class="centeredEvent">{{ nextEvent.shortDescription }}</h3>
    {% if nextEvent.background %}
       <img class="background" src="{{ nextEvent.background.url }}" />
    {% else %}
        <img class="background" src="{% static "img/defaultBackground.jpg" %}" />
    {% endif %}
    <a class="more centeredEvent" href="{% url "events.views.showEvent" nextEvent.slug %}">En savoir +</a>
</div>
    {% else %}
        <div class="noEvent"></div>
    {% endif %}
    <div class="presentation mdFormated">
    {% autoescape off %}
        {{ presentation.formatedContent }}
    {% endautoescape %}
    </div>
    </section>
    <section class="blueprint projects">
        <h2>{{ projects.count|apnumber|capfirst }} Projet{{ projects.count|pluralize }} en cours</h2>
        {% for project in projects %}
            <a href="{% url "projects.views.showProject" project.slug %}" class="project" data-progression="{{ project.progression }}">
                <div class="progression">{{ project.progression }}%</div>
                <h3>{{ project.name }}</h3>
                <div class="progressionBar"><div class="bar"></div></div>
            </a>
        {% endfor %}
    </section>
    <section class="blog">
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="meta">{{ article.author|big_user_name }} <span title="{{ article.date|date:"D d F Y H:i"}}">{{ article.date|naturaltime }}</span></div>
                <div class="mdFormated articleContent">
                    {% autoescape off %}
                    {{ article.formatedContent }}
                    {% endautoescape %}
                </div>
            </article>
        {% endfor %}

{% endblock %}
{% block script %}
    <script src="{% static "js/projects.js" %}"></script>
    <script src="{% static "js/markdown.js" %}"></script>
{% endblock %}